{% extends "basefront.html.twig" %}

{% block body %}
<div class="container mt-4">
    <h2>
        {% if app.request.attributes.get('_route') == 'admin.formation.ajout' %}
            Ajouter une formation
        {% else %}
            Modifier une formation
        {% endif %}
    </h2>

    {{ form_start(formformation) }}
    
    <div class="row">
        <div class="col-md-6">
            {{ form_row(formformation.title) }}
            {{ form_row(formformation.playlist) }}
            {{ form_row(formformation.categories) }}
            {{ form_row(formformation.publishedAt) }}
            {{ form_row(formformation.videoId) }}
        </div>
        <div class="col-md-6">
            {{ form_row(formformation.description, {'attr': {'rows': 10}}) }}
        </div>
    </div>
    
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>

    {{ form_end(formformation) }}
</div>
{% endblock %}